<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>

    <h1>Here are all the cats</h1>
    <ul>
    <% for (const cat of allCats) {%>
        <li> <%= cat %> </li>
   <%  } %>
    </ul>
    <%- include('partials/footer') %>
