<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti provident consectetur aspernatur consequatur incidunt pariatur inventore id tenetur, sed nihil laudantium suscipit quaerat! Iusto magnam sapiente commodi porro officia dolore?
    Reiciendis inventore corporis itaque, libero rem nihil placeat officia aut soluta quam facilis accusamus voluptatum voluptatibus animi eos fugit? Perferendis facilis earum repudiandae debitis laborum et minima saepe, deserunt dicta!
    Fuga explicabo, obcaecati aliquid eligendi in cupiditate modi excepturi, laudantium laborum sunt esse. Excepturi temporibus facere alias nisi distinctio nihil necessitatibus cum sapiente in eveniet, eum provident nobis, sint vero.
</p>
</body>
</html>
