img {
  width: 500px;
  height: 400px;
  margin-bottom: none;
}
section {
  display: grid;
  align-items: center;
  justify-content: center;
}
#instructions {
  margin-bottom: 1.5rem;
}
#score {
  margin-bottom: 0;
  margin-top: 1rem;
}
#title {
  border-bottom: 1px solid gray;
  margin-bottom: 0px;
}

#mainsec {
  border: 1px solid gray;
  border-top: none;
}

#floatingSelect {
  padding: 0px;
  height: 25px;
  line-height: 1;
  width: 4em;
}

#scorecount {
  display: inline-flex;
}
button {
  color: white;
}

#player1score.win {
  color: green;
}

#player1score.lose {
  color: red;
}
#player2score.win {
  color: green;
}

#player2score.lose {
  color: red;
}

#player1:disabled {
  background-color: #ccc;
  opacity: 0.5;
  cursor: not-allowed;
}
#player2:disabled {
  background-color: #ccc;
  opacity: 0.5;
  cursor: not-allowed;
}
